.carousel {

    height: 380px;
}

.carousel img {
    width: 100%;
    height: 380px !important;
    margin: 0 auto;
}

.section {
    display: flex;
    flex-direction: column;
    background: #FCFCFC;
    height: 380px;
    justify-content: flex-start;
    margin-left: 37px;
    border: 1px #E5E5E5 solid;
}

.section .title {
    text-align: center;
    font-size: 1.6em;
    background: #F5F5F5;
    line-height: 48px;
}

.section a {
    padding: 18px 0 0 31px;
    font-size: 1.2em;
    color: #333333;
}

.club-title {
    font-size: 1.3em;
    padding-bottom: 6px;
    border-bottom: 4px #205CA6 solid;
}

.club-logo-list {
/*display: flex;*/
    padding: 15px 20px;
    /*border-bottom: 1px solid #aca9a7;*/
    /*height: 75px;*/
    display: flex;
    align-items: center;
    overflow-y: hidden;
    margin: 0;
    flex-wrap: nowrap;
}

.club-logo-list .club-logo-item {
    width: 180px;
    height: 90px;
    margin: 20px 40px 20px 0;
    border: 1px #b9b9b9 solid;
list-style: none;
    white-space: nowrap;
}

.club-logo-list .club-logo-item img {
/*width: 100%;*/
    /*height: 100%;*/
    width: 180px;
    height: 90px;
}

.club-resource-list {
    background: #F8F8F8;
    padding: 3px 16px;
    margin: 20px 0 80px 0;
}

.club-resource-list .club-resource-item {
border-bottom: 1px #E3E3E3 dashed;
    display: flex;
    justify-content: space-between;
}

.club-resource-list .club-resource-item span {

}

.club-resource-list .club-resource-item a {
color: #7D7D7D;
    text-decoration: underline;
}


.club-banner-module {
    font-size: 18px !important;
    line-height: 40px !important;
}

.club-banner-content {
    text-indent: 35px;
}

.module-content {
    border: #b7b7b7 1px solid;
    padding: 26px 128px;
    color: #4d4d4d;
    margin: 0 0 30px 0;
}

.club-content{

    padding: 20px 0;
}

.club-table-module{
    min-height: 600px;
}


.club-table {

}

.club-table .th {
    vertical-align: middle;
}

.club-table .input {
    width: 100%;
    position: relative;
}

.club-table .input input {
    margin: 5px;
    width: 100%;
    padding: 5px;
}

.club-table .input span {
    color: red;
    position: absolute;
    right: 0px;
    top: 12px;
}

.table-nobordered > tbody > tr > td {
    border: white 0px solid !important;
}

.submit-btn {
    width: 50%;
    padding: 6px;
    color: white;
    margin-bottom: 10px;
    font-size: 1.2em;
    border-radius: 3px;
    background: linear-gradient(45deg, #58C8F8 0%, #4763F6 100%);
    border: none;
}
