/*.margin-center {*/
/*margin: 0 auto;*/
/*}*/

/*ul li {*/
/*list-style: none;*/
/*}*/

/*.nav {*/
/*list-style: none;*/
/*}*/

.search-bar-bg {
    position: absolute;
    width: 100%;
}

.dispear {
    display: none;
}

.chartTab {
    font-size: 12px;
}

.disabled {
    color: #000 !important;
}

.current {
    color: #000 !important;
}

.active {
    color: #a10000 !important;
}