.login-box {
    width: 70%;
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    border: 2px #E8E8E8 solid;
    box-shadow: 6px 8px 1px #d4d4f4;
    /*margin-top: 70px;*/
    border-radius: 8px;
    overflow: hidden;
}

.login-box .login-img-box {
    width: 50%;
}

.login-box .login-img-box img {
    width: 100%;
}

.login-box .login-form-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-box .login-form-box .login-form-logo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-logo .logo-text {

    font-size: 1.8em;
        width: 70%;
    color: #606060;
    text-align: center;
    border-bottom: 2px #DDDDDD solid;
}

.login-form-logo img {

}

.login-form-box .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-form-box .form .input {
    width: 75%;
    position: relative;
}

.login-form-box .form .input input {
    margin: 5px;
    width: 100%;
    padding: 5px;
}

.login-form-box .form .input span {
    color: red;
    font-size: 12px;
    position: absolute;
    right: 0px;
    top: 14px;
}

.error_msg{
    color: red;
}

.login-form-box .form .getcode {
    text-decoration: none;
    position: absolute;
    right: 0px;
    top: 12px;
}

.login-form-box .form .forget {
    text-decoration: none;
    position: relative;
    right: -116px;
}

.login-form-box .form a:hover {
    text-decoration: none;
    cursor: pointer;
}

.login-form-box .submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-box .submit button {

    width: 50%;
    padding: 6px;
    color: white;
    margin-bottom: 10px;
    font-size: 1.2em;
    border-radius: 3px;
    background: linear-gradient(45deg, #58C8F8 0%, #4763F6 100%);
    border: none;
}

.login-form-box .submit a {

}

.login-form-box .submit .a-box {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back-to-index{

}