
.toutiao-title {
    display: inline-block;
    font-size: 36px;
    line-height: 53px;
    color: #333;
    text-decoration: none;
    margin-bottom: 30px;
}

.toutiao-title:hover {
    text-decoration: none;
    color: #237fbf !important;
}

.toutiao-content {
    font-size: 18px;
    line-height: 34px;
    color: #4d4d4d;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.toutiao-img {
    height: 260px;
    width: 100%;
}

.toutiao-module-title {
    margin: 33px 0 0 -15px;
    font-size: 1.2em !important;
}

.toutiao-list {
    margin: 48px 0 0 0;
    padding: 8px 0;
    border-top: #cac9c9 1px dashed;
    border-bottom: #cac9c9 1px dashed;
}

.toutiao-list-content {
    margin-left: -53px;
    line-height: 35px;
}

.toutiao-sym {
    font-size: 60px;
    color: #cbcbcb;
    margin-bottom: -20px;
}

.toutiao-item .toutiao-item-title {
    color: #434343;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 700px;
    margin-bottom: -14px;
}

.toutiao-item a:hover {
    color: #434343;
    text-decoration: none;
}

.toutiao-item .toutiao-item-time {
    display: inline-block;
    margin-left: 5px;
    color: #868686;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: -14px;
}

.policy-list {
    margin-top: -30px;
}

.policy-item {
    margin: 10px 0px 10px 0px;
    border-bottom: #cac9c9 1px dashed;
}

.policy-item .policy-item-title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 600px;
    margin-bottom: -14px;
}

.policy-item a {
    text-decoration: none;
    color: #4E4E4E;
}

.policy-item a:hover {
    text-decoration: none;
    color: #237fbf !important;
}

.policy-item .policy-item-source {

    /*display: inline-block;*/
    color: #E3EEFE;
    background: #72A5F8;
    padding: 1px 8px;
    border-radius: 6px;
    margin: 0 9px;
    font-size: 14px;
}

.policy-item .policy-item-time {

    display: inline-block;
    margin-left: 5px;
    color: #8A8A8A;
    font-size: 14px;
}

.chart-box {
    padding: 0 !important;
    float: left;
}

.chart-box-left {
    border-left: #128bca 1px solid;
    border-top: #128bca 1px solid;
    border-right: #128bca 1px solid;
    width: 520px;
}

.chart-box-right {
    border-right: #128bca 1px solid;
    border-top: #128bca 1px solid;
    width: 520px;
}

.chart-box-bottom {
    border: #128bca 1px solid;
    width: 1040px;
}

.chart-tab {
    width: 100%;
    display: inherit;
    background: linear-gradient(90deg, #6f85d5 0%, #48c5ee 100%);
    color: #fff;
    padding: 0px 10px;
    line-height: 30px;
}

.chart-tab-ul {
    padding: 5px 10px 0 10px;
    background: #efefef;
}

.chart-tab-ul a:hover {
    cursor: pointer;
}

.chart-tab2 {
    padding: 3px 8px !important;

    color: #4d4d4d;
}

.policy-banner-module {
    font-size: 18px !important;
    line-height: 40px !important;
}

.policy-banner-content {
    text-indent: 35px;
}

.module-content {
    border: #b7b7b7 1px solid;
    padding: 26px 128px;
    color: #4d4d4d;
    margin: 0 0 30px 0;
}

.policy-content{

    padding: 20px 0;
}