<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}title{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'js/jQuery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/layer/layer.js' %}"></script>
    {% block custom_css %}{% endblock %}
</head>
<body>
<div class="user-bar">
    <section class="container ">
        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="pull-left center-span"><span>服务电话：010-60551593</span></div>
                <div class="personal pull-right">
                    <div class="center-span">

                        {#                    <a href="{% url 'users:my_message' %}">#}
                        {#                        <div class="msg-num"><span id="MsgNum">{{ request.user.unread_nums }}</span></div>#}
                        {#                    </a>#}
                        <span>{{ user.username }}</span>
                        <a class="personcenter" href="{% url 'users:user_info' %}">&nbsp进入个人中心</a>
                        <a class="pull-right" href="{% url 'logout' %}">&nbsp退出</a>
                    </div>
                </div>

            </div>
        {% else %}
            <div class="row">
                <div class="pull-left  center-span"><span>服务电话：010-60551593</span></div>
                <!--登录后跳转-->
                <div class="personal pull-right">
                    <div class="center-span">
                        <a style="color:black" class="pull-right registerbtn" href="{% url "register" %}">&nbsp注册</a>
                        <a style="color:black" class="pull-right loginbtn"
                           href="{% url 'login' %}?next={{ request.path }}">&nbsp登录</a>
                    </div>
                </div>


            </div>
        {% endif %}
    </section>
</div>
<section class="container">

    <div class="row">
        {#        <div class="col-md-3">#}
        <a class="{% ifequal '/' request.path %}active{% endifequal %}" href="/">
            <img class="col-md-4 logo-img" src="{% static 'img/logo.png' %}"/></a>
        {#        </div>#}
        {#        <div class="col-md-1"></div>#}
        <div class="navbar-header pull-right logo-nav">
            <ul class="nav navbar-nav">
                <li>
                    <a class="{% ifequal '/' request.path %}active{% endifequal %}" href="/">首页</a>
                </li>
                <li>
                    <a class="{% ifequal '/policy' request.path|slice:":7" %}active{% endifequal %}"
                       href="{% url 'policy:home' %}">资讯平台</a>
                </li>
                <li>
                    <a class="{% ifequal '/ssdpatent' request.path|slice:":10" %}active{% endifequal %}"
                       href="{% url 'ssdpatent:list' %}">交易平台</a>
                </li>
{#                <li>#}
{#                    <a class="{% ifequal '/project' request.path|slice:":8" %}active{% endifequal %}"#}
{#                       href="{% url 'project:list' %}">转化平台</a>#}
{#                </li>#}
                <li>
                    <a class="{% ifequal '/incubator' request.path|slice:":10" %}active{% endifequal %}"
                       href="{% url 'incubator:list' %}">孵化平台</a>
                </li>
                <li>
                    <a class="{% ifequal '/gallery' request.path|slice:":8" %}active{% endifequal %}"
                       href="{% url 'gallery:list' %}">展会服务</a>
                </li>
                <li>
                    <a class="{% ifequal '/club' request.path|slice:":5" %}active{% endifequal %}"
                       href="{% url 'club:home' %}">关于我们</a>
                </li>
            </ul>
        </div>

    </div>

</section>

<img class="search-bar-bg" src="{% static 'img/bar.jpg' %}"/>
<section class="container search-bar">
    <div class="row">

        <span class="search-bar-title">
            {% ifequal '/policy' request.path|slice:":7" %}资讯平台{% endifequal %}
            {% ifequal '/ssdpatent' request.path|slice:":10" %}交易平台{% endifequal %}
{#            {% ifequal '/project' request.path|slice:":8" %}转化平台{% endifequal %}#}
            {% ifequal '/incubator' request.path|slice:":10" %}孵化平台{% endifequal %}
            {% ifequal '/gallery' request.path|slice:":8" %}展会服务{% endifequal %}
            {% ifequal '/club' request.path|slice:":5" %}关于我们{% endifequal %}
        </span>
        {#        <div class="col-md-5"></div>#}

        {% ifnotequal '/club' request.path|slice:":5" %}
            <form class="form-search pull-right search-bar-box"
                  action="{% ifequal '/policy' request.path|slice:":7" %}{% url 'policy:search' %}{% endifequal %}
                {% ifequal '/ssdpatent' request.path|slice:":10" %}{% url 'ssdpatent:search' %}{% endifequal %}
{#                {% ifequal '/project' request.path|slice:":8" %}{% url 'project:search' %}{% endifequal %}#}
                {% ifequal '/incubator' request.path|slice:":10" %}{% url 'incubator:search' %}{% endifequal %}
                {% ifequal '/gallery' request.path|slice:":8" %}{% url 'gallery:list' %}{% endifequal %}
                {% ifequal '/club' request.path|slice:":5" %}{% url 'club:home' %}{% endifequal %}">
                <div class="input-group search-bar-box">
                    <input type="text" class="form-control" name="keywords"
                           placeholder="{% ifequal '/policy' request.path|slice:":7" %}搜索政策{% endifequal %}{% ifequal '/ssdpatent' request.path|slice:":10" %}搜索专利{% endifequal %}{% ifequal '/project' request.path|slice:":8" %}搜索项目{% endifequal %}{% ifequal '/incubator' request.path|slice:":10" %}搜索孵化器{% endifequal %}{% ifequal '/gallery' request.path|slice:":8" %}搜索展会{% endifequal %}{% ifequal '/club' request.path|slice:":5" %}搜索{% endifequal %}"
                           value="{{ keywords }}">
                    <span class="input-group-btn">
                    <button class="btn search-bar-btn" type="submit">查找</button>
                </span>
                </div><!-- /input-group -->
            </form>

        {% endifnotequal %}


    </div>
</section>

{% block custom_bread %}

{% endblock %}
{% block content %}

{% endblock %}


<img style="display: none" id="qr" src="{% static 'img/qr.png' %}"/>

<footer class="footer">
    <div class="container">
        <div class="col-md-12 row">
            <div class="footer-nav pull-left">
                关于本站 | 新闻中心 | 联系我们
            </div>
            <div class="footer-contact pull-right">

                <img src="{% static 'img/contact.png' %}"/>
                010 - 60551593
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="footer-copyright pull-left">
               运营商:首都师范大学
            </div>
            <div class="footer-worktime pull-right">工作日:8:30-17:30</div>
        </div>

    </div>

</footer>

<script src="{% static 'js/qr.js' %}"></script>
</body>
{% block custom_js %}{% endblock %}
</html>