<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}title{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {#    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap/dist/css/bootstrap.css' %}">#}
    {#    <script type="text/javascript" src="{% static 'js/jQuery/tmp/jquery.js' %}" charset="utf-8"></script>#}

    {% block custom_css %}{% endblock %}
</head>
<body>
<section class="container">
    <div class="row">
        {#        <div class="col-md-3">#}
        <img class="col-md-3" src="{% static 'img/logo.png' %}"/>
        {#        </div>#}
        <div class="col-md-1"></div>
        <div class="col-md-8 navbar-header">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="{% url 'policy:list' %}">资讯平台</a>
                </li>
                <li>
                    <a href="{% url 'patent:list' %}">交易平台</a>
                </li>
                <li>
                    <a href="{% url 'project:list' %}">转化平台</a>
                </li>
                <li>
                    <a href="{% url 'project:list' %}">孵化平台</a>
                </li>
                <li>
                    <a href="{% url 'project:list' %}">展会服务</a>
                </li>
                <li>
                    <a href="{% url 'project:list' %}">俱乐部</a>
                </li>
            </ul>
        </div>

    </div>

</section>

{#<img class="search-bar-bg" src="{% static 'img/bar.jpg' %}"/>#}
<section class="container">
    <div class="row">
        <h2 class="col-md-3">资讯平台</h2>
        <div class="col-md-5"></div>
        <form class="form-search">
            <input class="input-medium search-query" type="text"/>
            <button type="submit" class="btn">查找</button>
        </form>
    </div>
</section>

{% block custom_bread %}

{% endblock %}
{% block content %}

{% endblock %}
<footer>
    footer
</footer>
</body>
{% block custom_js %}{% endblock %}
</html>