{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}政策展示{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/club.css' %}">
{% endblock %}
{% block custom_bread %}

    <section class="container">
        <ul class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active">加入我们</li>
        </ul>
    </section>
{% endblock %}
{% block content %}
    <section class="container club-table-module">
        <form action="{% url 'club:add_member' %}" method="post">
            <table class="table table-nobordered club-table">
                <tbody>
                <tr>
                    <td class="th">名称：</td>
                    <td>
                        <div class="input">
                            {{ add_member_form.name }}
                            <span>{{ add_member_form.errors.name.0 }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="th">行业领域：</td>
                    <td>
                        <div class="input">
                            {{ add_member_form.field }}
                            <span>{{ add_member_form.errors.field.0 }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="th">商标：</td>
                    <td>
                        <div class="input">
                            {{ add_member_form.logo }}
                            <span>{{ add_member_form.errors.logo.0 }}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="submit-btn">保存</button>
                    </td>
                    <td class="th"></td>
                </tr>
                </tbody>
            </table>
            {% csrf_token %}
        </form>

    </section>
{% endblock %}
{% block custom_js %}

{% endblock %}