{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}政策详情{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/policy.css' %}">
{% endblock %}
{% block custom_bread %}
    <section class="container">
        <div>
            <ul class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li><a href="{% url 'policy:home' %}">政策展示</a></li>
                <li><a>政策详情</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section class="container policy-banner-module">

        <img class="module-item-img" src="{{ patent.imgo | default:"/static/img/index-item1.png" }}"/>
        <p>{{ patent.id }}{{ patent.tio }}{{ patent.field_category }}{{ patent.patent_category }}</p>
    </section>

    <section class="container policy-banner-module">
        <form action="{% url 'operation:order' %}" method="POST" autocomplete="off">
            <div>
                <label>单位名称</label>
                <input type="text" name="id" id="id" value="{{ patent.id }}"/>
            </div><div>
                <label>单位名称</label>
                <input type="text" name="order_name" id="order_name"/>
            </div>
            <div>
                <label>地址</label>
                <input type="text" name="order_address" id="order_address"/>
            </div>
            <div>
                <label>联系人</label>
                <input type="text" name="order_contact" id="order_contact"/>
            </div>
            <div>
                <label>手机</label>
                <input type="text" name="order_mobile" id="order_mobile"/>
            </div>
                        {% csrf_token %}
            <button type="submit">提交</button>
        </form>
    </section>

{% endblock %}