{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}展会详情{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/patent.css' %}">
{% endblock %}
{% block custom_bread %}
    <section class="container">
        <div>
            <ul class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li><a href="{% url 'gallery:list' %}">展会列表</a></li>
                <li><a>展会详情</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block content %}
    
    <section class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="main-pic" src="{{ MEDIA_URL }}{{ gallery.pic }}"/>
            </div>
            <div class="col-md-7 panel-module">
                <span class="title">{{ gallery.name }}</span>
                <div class="table">
                    <span class="content">时间：{{ gallery.time_begin }}~{{ gallery.time_end }} </span>
                    {% if gallery.level %}<span class="content">级别：{{ gallery.level }}</span>{% endif %}
                    <span class="content">地址：{{ gallery.addr }}</span>

                </div>
                <div class="module-item-btn-box">
                     {% if has_fav %}
                    <span id="{{ gallery.id }}" class="module-item-btn-faved fav">取消收藏</span>
                {% else %}
                    <span id="{{ gallery.id }}" class="module-item-btn fav">收藏</span>
                {% endif %}
{#                {% if has_join %}#}
{#                    <span id="{{ gallery.id }}" class="module-item-btn-faved join">取消报名</span>#}
{#                {% else %}#}
{#                    <span id="{{ gallery.id }}" class="module-item-btn join">报名</span>#}
{#                {% endif %}#}
                {% if has_zan %}
                    <span id="{{ gallery.id }}" class="module-item-btn-faved zan">取消点赞</span>
                {% else %}
                    <span id="{{ gallery.id }}" class="module-item-btn zan">点赞</span>
                {% endif %}


{#                <span class="module-item-btn share" onclick="share()">#}
{#                    分享#}
{#                </span>#}
                <div class="social-share1" style="text-align:center; display:none;" id="shareDiv">
                    <img id="testimg" style="float:right;cursor:pointer" alt="" width="300" height="300"/>
                </div>

                </div>

            </div>
        </div>
    </section>

    {% if gallery.descs %}
        <section class="container detail-module">
            <span class="detail-title">
            介绍
            </span>
            <div class="detail-content">
                {% autoescape off %}
                    {{ gallery.descs }}
                {% endautoescape %}
            </div>
        </section>
    {% endif %}

{% endblock %}
{% block custom_js %}
    <script type="text/javascript">

        function share() {
            $('.share').removeClass('module-item-btn')
            $('.share').addClass('module-item-btn-faved')
            $("#testimg").attr("src", "http://qr.liantu.com/api.php?text=" + window.location.href);
            layer.open({
                type: 1,
                title: '分享到微信',
                offset: 'auto',
                area: ['300px', '342px'], //宽高
                closeBtn: 1, //不显示关闭按钮
                shadeClose: true, //点击遮罩关闭
                anim: 2,
                content: $("#shareDiv")
            });

        }

        //收藏分享
        function add_fav(current_elem, fav_id, fav_type) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "operation:add_fav" %}",
                data: {'fav_id': fav_id, 'fav_type': fav_type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "{% url 'login' %}?next={{ request.path }}";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {
                        if (data.msg === '收藏') {
                            current_elem.addClass('module-item-btn')
                            current_elem.removeClass('module-item-btn-faved')
                            current_elem.text(data.msg)
                        } else {
                            current_elem.addClass('module-item-btn-faved')
                            current_elem.removeClass('module-item-btn')
                            current_elem.text(data.msg)
                        }
                    }
                },
            });
        }

        function add_zan(current_elem, fav_id, fav_type) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "operation:add_fav" %}",
                data: {'fav_id': fav_id, 'fav_type': fav_type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "{% url 'login' %}?next={{ request.path }}";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {
                        if (data.msg === '点赞') {
                            current_elem.addClass('module-item-btn')
                            current_elem.removeClass('module-item-btn-faved')
                            current_elem.text(data.msg)
                        } else {
                            current_elem.addClass('module-item-btn-faved')
                            current_elem.removeClass('module-item-btn')
                            current_elem.text(data.msg)
                        }
                    }
                },
            });
        }

        function add_join(current_elem, join_id, join_type) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "operation:add_join" %}",
                data: {'join_id': join_id, 'join_type': join_type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "{% url 'login' %}?next={{ request.path }}";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {
                        if (data.msg === '收藏') {
                            current_elem.addClass('module-item-btn')
                            current_elem.removeClass('module-item-btn-faved')
                            current_elem.text(data.msg)
                        } else {
                            current_elem.addClass('module-item-btn-faved')
                            current_elem.removeClass('module-item-btn')
                            current_elem.text(data.msg)
                        }
                    }
                },
            });
        }

        $('.join').on('click', function () {
            add_join($(this), $(this).attr('id'), 3);
        });
        $('.fav').on('click', function () {
            add_fav($(this), $(this).attr('id'), 6);
        });
        $('.zan').on('click', function () {
            add_zan($(this), $(this).attr('id'), 7);
        });


    </script>
{% endblock %}