<!DOCTYPE html>
{% load staticfiles %}
{% load filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}首页{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <link rel="stylesheet" href="{% static 'css/patent.css' %}">
    <link rel="stylesheet" href="{% static 'css/policy.css' %}">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'js/jQuery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/layer/layer.js' %}"></script>
    {% block custom_css %}{% endblock %}
</head>
<body>
<div class="user-bar">
    <section class="container ">
        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="pull-left center-span"><span>服务电话：010-60551593</span></div>
                <div class="personal pull-right">
                    <div class="center-span">

                        {#                    <a href="{% url 'users:my_message' %}">#}
                        {#                        <div class="msg-num"><span id="MsgNum">{{ request.user.unread_nums }}</span></div>#}
                        {#                    </a>#}
                        <span>{{ user.username }}</span>
                        <a class="personcenter" href="{% url 'users:user_info' %}">&nbsp进入个人中心</a>
                        <a class="pull-right" href="{% url 'logout' %}">&nbsp退出</a>
                    </div>
                </div>

            </div>
        {% else %}
            <div class="row">
                <div class="pull-left  center-span"><span>服务电话：010-60551593</span></div>
                <!--登录后跳转-->
                <div class="personal pull-right">
                    <div class="center-span">
                        <a style="color:black" class="pull-right registerbtn" href="{% url "register" %}">&nbsp注册</a>
                        <a style="color:black" class="pull-right loginbtn"
                           href="{% url 'login' %}?next={{ request.path }}">&nbsp登录</a>
                    </div>
                </div>


            </div>
        {% endif %}
    </section>
</div>
<div class="index-bg">
</div>
<section class="container">
    <div class="row">
        <div class="logo-box">
            <img class="logo1" src="{% static 'img/logo1.png' %}">
            <form class="form-search index-search search-bar-box"
                  action="{% url 'ssdpatent:search' %}">

                <div class="input-group search-bar-box">
                    <input type="text" class="form-control" name="keywords" placeholder="查找专利"
                           value="{{ keywords }}">
                    <span class="input-group-btn">
                    <button class="btn search-bar-btn" type="submit">查找</button>
                </span>
                </div><!-- /input-group -->
            </form>

{#            <img class="logo2" src="{% static 'img/logo2.png' %}">#}
        </div>
    </div>
    <div class="row">
        <div class="index-panel-bg">
            <div class="index-row">
                <div class="index-rank-box rank-box">
                    <div class="rank-title">
                        <span>本站</span>
                        <span>最具价值成果</span>
                    </div>
                    <div class="rank-list">
                        {% for patent in patent_bar %}
                            <div class="rank-item">
                                <a href="/ssdpatent/detail/{{ patent.id }}/">{{ forloop.counter }}.{{ patent.tic }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="index-pic">
                    <img src="{% static 'img/index-main-pic.png' %}"/>
                </div>
            </div>
            <div class="panel-list">
                <div class="panel-item">
                    <img src="{% static 'img/index-module0.png' %}" />
                    <a class="title" href="{% url 'policy:home' %}">资讯平台</a>
                    <div class="content"><a href="{% url 'policy:list' %}?province=3">中央政策</a><a href="{% url 'policy:list' %}?province=5">北京政策</a>
                    </div>
                    <div class="content"><a href="{% url 'policy:list' %}?province=4">部门政策</a><a href="{% url 'policy:home' %}#stat">数据统计</a>
                    </div>
                </div>
                <div class="panel-item">
                    <img src="{% static 'img/index-module1.png' %}" />
                    <a class="title" href="{% url 'incubator:list' %}">成果孵化</a>
                    <div class="content"><a href="{% url 'incubator:list' %}?keywords=&type_id=0">孵化器库</a><a
                            href="{% url 'incubator:list' %}?keywords=&type_id=1">高新园区</a></div>
                    <div class="content"><a href="{% url 'incubator:list' %}?keywords=&type_id=2">金融服务</a><a
                            href="{% url 'incubator:list' %}?keywords=&type_id=3">黄页</a></div>
                </div>
                <div class="panel-item">
                    <img src="{% static 'img/index-module2.png' %}" />
                    <a class="title">转化交易</a>
                    <div class="content">
                        <a href="{% url 'ssdpatent:list' %}">查找专利</a>
                        <a href="{% url 'ssdpatent:list' %}?success_category=1">成功案例</a>
                    </div>
                    <div class="content">
{#                        <a href="{% url 'project:add_project' %}">发布项目</a>#}
                        <a href="{% url 'ssdpatent:add_patent' %}">发布专利</a>
                        <a href="{% url 'operation:message_board_list' %}">留言板</a>
{#                        <a href="{% url 'users:message_board' %}">留言板</a>#}
                    </div>
                </div>
                <div class="panel-item">
                    <img src="{% static 'img/index-module3.png' %}" />
                    <a class="title">展会联盟</a>
                    <div class="content"><a href="{% url 'gallery:list' %}">线上展会</a><a href="{% url 'gallery:list' %}">线下展会</a>
                    </div>
                    <div class="content"><a href="{% url 'club:home' %}">关于我们</a></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="index-module-title">
            <span class="line"></span>
            <span class="cn">专利交易</span>
            <span class="en">TECHNOLOGICAL ACHIEVEMENTS</span>
            <span></span>
        </div>
        <div class="index-patent">
            <div class="title-box">
                <div id="title0" class="title active">

                    <div class="text">
                        <span>发明专利</span>

                        <a href="{% url 'ssdpatent:list' %}">更多>></a>
                    </div>
                    <div class="img">
                        <img src="{% static 'img/index-item1.png' %}"/>
                    </div>
                </div>
                <div id="title1" class="title">
                    <div class="text">
                        <span>实用新型专利</span>

                        <a href="{% url 'ssdpatent:list' %}">更多>></a>
                    </div>
                    <div class="img">
                        <img src="{% static 'img/index-item2.png' %}"/>
                    </div>
                </div>
                <div id="title2" class="title">
                    <div class="text">
                        <span>外观专利</span>

                        <a href="{% url 'ssdpatent:list' %}">更多>></a>
                    </div>
                    <div class="img">
                        <img src="{% static 'img/index-item1.png' %}"/>
                    </div>
                </div>
            </div>
            <div class="content-box" id="content-box0">
                {% for patent in patent_0 %}
                    <a class="content" href="/ssdpatent/detail/{{ patent.id }}/">
                        <span class="tag">{{ patent.pdt }}</span>
                        <img src="{% if patent.imgo %}{% if patent.imgo.url|filter_imgo %}{{ MEDIA_URL }}{% endif %}{{ patent.imgo }}{% else %}{{ "/media/image/default.png" }}{% endif %}"/>
                        <span class="name">{{ patent.tic }}</span>
                    </a>

                {% endfor %}

            </div>
            <div class="content-box dispear" id="content-box1">
                {% for patent in patent_1 %}
                    <a class="content" href="/ssdpatent/detail/{{ patent.id }}/">
                        <span class="tag">{{ patent.pdt }}</span>
                        <img src="{% if patent.imgo %}{% if patent.imgo.url|filter_imgo %}{{ MEDIA_URL }}{% endif %}{{ patent.imgo }}{% else %}{{ "/media/image/default.png" }}{% endif %}"/>
                        <span class="name">{{ patent.tic }}</span>
                    </a>

                {% endfor %}

            </div>
            <div class="content-box  dispear" id="content-box2">
                {% for patent in patent_2 %}
                    <a class="content" href="/ssdpatent/detail/{{ patent.id }}/">
                        <span class="tag">{{ patent.pdt }}</span>
                        <img src="{% if patent.imgo %}{% if patent.imgo.url|filter_imgo %}{{ MEDIA_URL }}{% endif %}{{ patent.imgo }}{% else %}{{ "/media/image/default.png" }}{% endif %}"/>
                        <span class="name">{{ patent.tic }}</span>
                    </a>

                {% endfor %}

            </div>
        </div>
    </div>
</section>
{#<section class="container">#}
{#    <div class="row">#}
{#        <div class="index-module-title">#}
{#            <span class="line"></span>#}
{#            <span class="cn">技术转化</span>#}
{#            <span class="en">TECHNICAL PROJECT</span>#}
{#            <span></span>#}
{#        </div>#}
{#        <div class="recommend-content">#}
{#            {% for p in project %}#}
{#                <div class="recommend-item">#}
{#                    <img src="{{ MEDIA_URL }}{{ p.main_pic }}"/>#}
                    {#                    <img src="/media/image/2018/12/WX20181031-0929032x.png"/>#}
{#                    <div class="box">#}
{#                        <span class="title">#}
{#                            {{ p.name }}#}
{#                        </span>#}
{#                        <div class="table">#}
{#                            <p class="content">#}
{#                                技术成熟度:{{ p.get_project_step_display }}</p>#}
{#                            <p class="content">行业:{{ p.get_field_category_display }}</p>#}
{#                            <p class="content">合作方式:<span class="price">{{ p.get_cooperation_display }}</span></p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{##}
{#        </div>#}
{#    </div>#}
{#</section>#}
<section class="container">
    <div class="row">
        <div class="index-module-title">
            <span class="line"></span>
            <span class="cn">孵化资源</span>
            <span class="en">RESOURCE</span>
            <span></span>
        </div>
        <div class="incubator-content">
            <a href="{% url 'incubator:list' %}?keywords=&type_id=0">
                <img src="{% static 'img/incubator1.png' %}"/>
            </a>
            <a href="{% url 'incubator:list' %}?keywords=&type_id=1">
                <img src="{% static 'img/incubator2.png' %}"/>
            </a>
            <a href="{% url 'incubator:list' %}?keywords=&type_id=2">
                <img src="{% static 'img/incubator3.png' %}"/>
            </a>
            <a href="{% url 'incubator:list' %}?keywords=&type_id=3">
                <img src="{% static 'img/incubator4.png' %}"/>
            </a>

        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="index-module-title">
            <span class="line"></span>
            <span class="cn">最新政策</span>
            <span class="en">POLICY</span>
            <span></span>
        </div>
        <div class="policy-list">
            {% for policy in policy %}
                <div class="policy-item">
                    <span class="policy-item-title"><a
                            href="/policy/detail/{{ policy.id }}/"> {{ policy.title }}</a></span>
                    <span class="policy-item-source"> {{ policy.addr }}{{ policy.source }} </span><span
                        class="policy-item-time">{{ policy.pubDate }}</span>

                </div>
            {% endfor %}

        </div>
    </div>
</section>



<script type="text/javascript" src="//js.users.51.la/19829061.js"></script>

<footer class="footer">
    <div class="container">
        <div class="col-md-12 row">
            <div class="footer-nav pull-left">
                关于本站 | 新闻中心 | 联系我们
            </div>
            <div class="footer-contact pull-right">

                <img src="{% static 'img/contact.png' %}"/>
                010 - 60551593
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="footer-copyright pull-left">
                运营商:首都师范大学
            </div>
            <div class="footer-worktime pull-right">工作日:8:30-17:30</div>
        </div>

    </div>

</footer>

<script src="{% static 'js/qr.js' %}"></script>

</body>
{% block custom_js %}
    <script type="text/javascript">
        $(() => {
            $(".title-box .title").click(function () {
                let tabId = $(this).attr("id");
                console.log('tabId', tabId)
                let chartClass = 'content-box'
                let id = tabId.slice(5)
                console.log("#" + chartClass + "-" + id)
                $(this).parent().children().removeClass('active')
                $(this).addClass('active')
                $("." + chartClass).addClass('dispear')
                $("#" + chartClass + id).removeClass('dispear')
            })

        });

    </script>

{% endblock %}
</html>