{% extends 'login-base.html' %}

{% load staticfiles %}
{% block title %}登录{% endblock %}
{% block content %}

    <form action="/login/" method="post">
        <div class="login-box">

            <div class="login-img-box">
                <img src="{% static 'img/login-bg.png' %}"/>
            </div>
            <div class="login-form-box">
                <div class="login-form-logo">
                    <span class="logo-text">会员登录</span>
                    <img src="{% static 'img/login-logo.png' %}"/>
                </div>
                <div class="form">
                    <div class="input">
                        <input name="username" type="text" placeholder="手机号："/>
                        <span>{{ login_form.errors.username.0 }}</span>
                    </div>
                    <div class="input">
                        <input name="password" type="password" placeholder="密码："/>
                        <span>{{ login_form.errors.password.0 }}</span>
                    </div>
                    <a class="forget" href="{% url 'reset_pwd' %}">忘记密码</a>
                    {{ msg }}
                    <input type="hidden" name="next" value="{{ redirect_url }}"/>
                    {% csrf_token %}
                </div>
                <div class="submit">
                    <button type="submit">登录</button>
                    <a href="{% url 'register' %}">没有账号？去注册</a>
                </div>


            </div>
        </div>

    </form>
{% endblock %}