<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form action="/login/" method="post">

    <input name="username" type="text" placeholder="username"/>
    <input name="password" type="password" placeholder="password"/>
    <input type="submit"/>
    <a href="{% url 'reset_pwd' %}">忘记密码</a>
    {% for key,error in login_form.errors.items %}
        {{ key }}:{{ error }}
    {% endfor %}
    {{ msg }}
    <input type="hidden" name="next" value="{{ redirect_url }}"/>
    {% csrf_token %}
</form>

</body>
</html>