{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}留言详情{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/policy.css' %}">
{% endblock %}
{% block custom_bread %}
    <section class="container">
        <div>
            <ul class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li><a href="{% url 'operation:message_board_list' %}">留言列表</a></li>
                <li><a>留言详情</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block content %}

    <section class="container policy-banner-module">
        <div class="module-content">

            <h1 class="text-center">{{ message_board.patent_name }}</h1>
            <p class="text-center">{{ message_board.get_category_display }}</p>
            <div style="text-align: center">
                <span class="module-item-btn ask">我要回应</span>
            </div>
            <div class="policy-content">
                {{ message_board.comments }}

            </div>

        </div>
    </section>


{% endblock %}
{% block custom_js %}
    <script type="text/javascript">
        //收藏分享
        function add_fav(current_elem, fav_id, fav_type) {
            console.log(current_elem, fav_id, fav_type)
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "operation:add_fav" %}",
                data: {'fav_id': fav_id, 'fav_type': fav_type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "{% url 'login' %}?next={{ request.path }}";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {
                        if (data.msg === '收藏') {
                            current_elem.addClass('module-item-btn')
                            current_elem.removeClass('module-item-btn-faved')
                            current_elem.text(data.msg)
                        } else {
                            current_elem.addClass('module-item-btn-faved')
                            current_elem.removeClass('module-item-btn')
                            current_elem.text(data.msg)
                        }
                    }
                },
            });
        }

        $('.fav').on('click', function () {
            add_fav($(this), $(this).attr('id'), 0);
        });
    </script>
{% endblock %}