{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}政策展示{% endblock %}
{% block custom_bread %}
{% endblock %}
{% block content %}
    <section class="container">


        {#筛选#}
        <div class=" col-md-12">
            <div class="">

                {#筛选上级#}
                <div class="">
                    <span class="">上级</span>
                    <ul class="nav nav-tabs">
                        <li class="mainTab {% ifequal main '0' %}active{% endifequal %}" id="mainTab0">
                            <a role="menuitem" tabindex="-1"><span>
                                   {{ mains.0 }}</span></a>
                        </li>
                        <li class="mainTab {% ifequal main '1' %}active{% endifequal %}" id="mainTab1">
                            <a role="menuitem" tabindex="-1"><span>
                                    {{ mains.1 }}</span></a>
                        </li>
                        <li class="mainTab {% ifequal main '2' %}active{% endifequal %}" id="mainTab2">
                            <a role="menuitem" tabindex="-1"><span>
                                    {{ mains.2 }}</span></a>
                        </li>
                        <li class="mainTab {% ifequal main '3' %}active{% endifequal %}" id="mainTab3">
                            <a role="menuitem" tabindex="-1"><span>
                                    {{ mains.3 }}</span></a>
                        </li>
                    </ul>
                </div>

                {#筛选行政#}
                <div class="">
                    <span class="">行政</span>
                    {% for provinces in provincesArray %}
                        <ul id="province{{ provinces.0.main }}"
                            class="nav nav-tabs province province{{ provinces.0.main }} {% ifnotequal provinces.0.main main %}dispear{% endifnotequal %}">
                            {% for province in provinces %}
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="?province={{ province.id }}"><span
                                            class="{% ifequal province_id province.id|stringformat:'i' %}active{% endifequal %}">
                                    {{ province.name }}</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
                {#筛选部门#}
                <div class="">
                    <span class="">部门</span>
                    <ul class="nav nav-tabs">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="?department=&province={{ province_id }}"><span
                                    class="{% ifequal department_id '' %}active{% endifequal %}">全部</span></a>
                        </li>
                        {% for department in departments %}
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1"
                                   href="?department={{ department.id }}&province={{ province_id }}"><span
                                        class="{% ifequal department_id department.id|stringformat:'i' %}active{% endifequal %}">
                                    {{ department.name }}</span></a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>

            {#内容#}
            <div class="">
                {% for policy in policy.object_list %}
                    {#            <p>1</p>#}
                    <a href="/policy/detail/{{ policy.policy_id }}/">{{ policy.title }}</a>
                    <p>{{ policy.addr }}{{ policy.source }} {{ policy.pubDate }}</p>
                {% endfor %}
            </div>
            {#分页#}
            <ul class="pagination">
                {% if policy.has_previous %}
                    <li>
                        <a href="?department={{ department_id }}&province={{ province_id }}&page={{ policy.previous_page_number }}"
                           class="prev">&lsaquo;&lsaquo; </a></li>
                {% else %}
                    <li><span class="disabled prev">&lsaquo;&lsaquo; </span></li>
                {% endif %}
                {% for page in policy.pages %}
                    {% if page %}
                        {% ifequal page policy.number %}
                            <li><span class="current page">{{ page }}</span></li>
                        {% else %}
                            <li><a href="?department={{ department_id }}&province={{ province_id }}&page={{ page }}"
                                   class="page">{{ page }}</a>
                            </li>
                        {% endifequal %}
                    {% else %}
                        <li class="disabled"><span>...</span></li>
                    {% endif %}
                {% endfor %}
                {% if policy.has_next %}
                    <li>
                        <a href="?department={{ department_id }}&province={{ province_id }}&page={{ policy.next_page_number }}"
                           class="next">
                            &rsaquo;&rsaquo;</a></li>
                {% else %}
                    <li><span class="disabled next"> &rsaquo;&rsaquo;</span></li>
                {% endif %}
            </ul>
        </div>


    </section>

{% endblock %}
{% block custom_js %}
    <script src="{% static 'js/echarts/echarts.min.js' %}"></script>

    <script type="text/javascript">
        $(() => {
            $(".mainTab").click(function () {
                let tabId = $(this).attr("id");
                console.log('tabId', tabId)
                let chartClass = 'province'
                let id = tabId.slice(7)
                console.log("#" + chartClass + "-" + id)
                $(this).parent().children().removeClass('active')
                $(this).addClass('active')
                $("." + chartClass).addClass('dispear')
                $("#" + chartClass + id).removeClass('dispear')
            })

        });

    </script>
{% endblock %}