{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}项目展示{% endblock %}
{% block custom_bread %}
    <section>
        <section>
            <ul class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li class="active">技术项目</li>
            </ul>
        </section>
    </section>
{% endblock %}
{% block content %}
    {#筛选#}
    <div class=" col-md-12">
        <div class="">
            {#筛选行业分类#}
            <div class="">
                <span class="">行业分类</span>
                <ul class="nav nav-tabs">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1"
                           href="?field_category=&project_category={{ project_category_id }}"><span
                                class="{% ifequal field_category_id '' %}active{% endifequal %}">全部</span></a>
                    </li>
                    {% for field_category_ in field_categorys %}
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1"
                               href="?field_category={{ field_category_.0 }}&project_category={{ project_category_id }}"><span
                                    class="{% ifequal field_category_.0 field_category_id %}active{% endifequal %}">
                                    {{ field_category_.1 }}</span></a>
                        </li>
                    {% endfor %}

                </ul>
            </div>
            {#筛选技术阶段#}
            <div class="">
                <span class="">技术阶段</span>
                <ul class="nav nav-tabs">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1"
                           href="?project_category=&field_categorys={{ field_categorys_id }}"><span
                                class="{% ifequal project_category_id '' %}active{% endifequal %}">全部</span></a>
                    </li>
                    {% for project_step_ in project_steps %}
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1"
                               href="?project_step_={{ project_step_.0 }}&field_categorys={{ field_categorys_id }}"><span
                                    class="{% ifequal project_step_.0 project_step_id %}active{% endifequal %}">
                                    {{ project_step_.1 }}</span></a>
                        </li>
                    {% endfor %}

                </ul>
            </div>
            {#筛选合作形式#}
            <div class="">
                <span class="">合作形式</span>
                <ul class="nav nav-tabs">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1"
                           href="?project_category=&field_categorys={{ field_categorys_id }}"><span
                                class="{% ifequal project_category_id '' %}active{% endifequal %}">全部</span></a>
                    </li>
                    {% for cooperation_ in cooperations %}
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1"
                               href="?cooperation_={{ cooperation_.0 }}&field_categorys={{ field_categorys_id }}"><span
                                    class="{% ifequal cooperation_.0 cooperation_id %}active{% endifequal %}">
                                    {{ cooperation_.1 }}</span></a>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
        <div>
            <p>共{{ project_nums }}个专利</p>
        </div>

        {#内容#}
        <div>
            {% for project in all_project.object_list %}
                <a href="/project/detail/{{ project.id }}/">{{ project.name }}</a>
                <p>{{ project.detail }}</p>
                <span>收藏</span>
                <span>咨询</span>
            {% endfor %}
        </div>
        {#分页#}
        <ul class="pagination">
            {% if all_project.has_previous %}
                <li>
                    <a href="?field_category={{ field_category_id }}&project_category={{ project_category_id }}&page={{ all_project.previous_page_number }}"
                       class="prev">&lsaquo;&lsaquo; </a></li>
            {% else %}
                <li><span class="disabled prev">&lsaquo;&lsaquo; </span></li>
            {% endif %}
            {% for page in all_project.pages %}
                {% if page %}
                    {% ifequal page all_project.number %}
                        <li><span class="current page">{{ page }}</span></li>
                    {% else %}
                        <li>
                            <a href="?field_category={{ field_category_id }}&project_category={{ project_category_id }}&page={{ page }}"
                               class="page">{{ page }}</a>
                        </li>
                    {% endifequal %}
                {% else %}
                    <li class="disabled"><span>...</span></li>
                {% endif %}
            {% endfor %}
            {% if all_project.has_next %}
                <li>
                    <a href="?field_category={{ field_category_id }}&project_category={{ project_category_id }}&page={{ all_project.next_page_number }}"
                       class="next">
                        &rsaquo;&rsaquo;</a></li>
            {% else %}
                <li><span class="disabled next"> &rsaquo;&rsaquo;</span></li>
            {% endif %}
        </ul>
    </div>


    <div>
        {% for project in newest_project %}
            <a href="/">{{ project.name }}</a>
            <p>{{ project.detail }}</p>
        {% endfor %}
    </div>

{% endblock %}
