{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}技术展示{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/patent.css' %}">
{% endblock %}
{% block custom_bread %}
    <section class="container">
        <ul class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="{% url 'project:list' %}">技术项目列表</a></li>
            <li class="active">{{ project.name }}</li>
        </ul>
    </section>
{% endblock %}
{% block content %}


    <section class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="main-pic" src="{{ MEDIA_URL }}{{ project.main_pic }}"/>
            </div>
            <div class="col-md-7 panel-module">
                <span class="title">{{ project.name }}</span>
                <div class="table">
                    <span class="content">成熟度：{{ project.get_project_step_display }}</span>
                    <span class="content">行业：{{ project.get_field_category_display }}</span>
                    <span class="content">合作方式：{{ project.get_cooperation_display }}</span>

                </div>
                <div class="module-item-btn-box">
                    {% if project.has_fav %}
                        <span id="{{ project.id }}" class="module-item-btn-faved fav">取消收藏</span>
                    {% else %}
                        <span id="{{ project.id }}" class="module-item-btn fav">收藏</span>
                    {% endif %}
                    <span class="module-item-btn ask">咨询</span>

                </div>

            </div>
        </div>

    </section>


    <section class="container detail-module">
        <span class="detail-title">
            项目详情
        </span>
        <div class="detail-content">
            {% autoescape off %}
                {{ project.detail }}
            {% endautoescape %}
        </div>

    </section>

    <section class="recommend-module">
    <span class="recommend-title">
            相关专利商品
        </span>
        <div class="recommend-content container">
            {% for p in relate_projects %}
                <div class="recommend-item">
                    <img src="{{ MEDIA_URL }}{{ p.main_pic }}"/>
                    {#                    <img src="/media/image/2018/12/WX20181031-0929032x.png"/>#}
                    <div class="box">
                        <span class="title">
                            {{ p.name }}
                        </span>
                        <div class="table">
                            <p class="content">成熟度：{{ p.get_project_step_display }}</p>
                            <p class="content">行业：{{ p.get_field_category_display }}</p>
                            <p class="content">合作方式：{{ p.get_cooperation_display }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        //收藏分享
        function add_fav(current_elem, fav_id, fav_type) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "operation:add_fav" %}",
                data: {'fav_id': fav_id, 'fav_type': fav_type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "{% url 'login' %}?next={{ request.path }}";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {
                        if (data.msg === '收藏') {
                            current_elem.addClass('module-item-btn')
                            current_elem.removeClass('module-item-btn-faved')
                            current_elem.text(data.msg)
                        } else {
                            current_elem.addClass('module-item-btn-faved')
                            current_elem.removeClass('module-item-btn')
                            current_elem.text(data.msg)
                        }
                    }
                },
            });
        }

        $('.fav').on('click', function () {
            add_fav($(this), {{ project.id }}, 2);
        });


    </script>
{% endblock %}