{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}项目展示{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}
{% block custom_bread %}
    <section class="container">
        <ul class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active">技术项目列表</li>
        </ul>
    </section>
{% endblock %}
{% block content %}
    {#筛选#}
    <section class="container">

        <div class="filter">
            {#筛选行业分类#}
            <div class="filter-box">
                <div class="filter-title"><span>排序</span></div>
                <ul class="filter-list">
                    <li class="filter-item mainTab {% if pubDate %}filter-active{% endif %}" id="mainTab0">
                        <a role="menuitem" tabindex="-1"
                           href="{% url 'project:search' %}?keywords={{ keywords }}&pubDate=1"><span>
                                   日期</span></a>
                    </li>
                    <li class="filter-item mainTab {% if click_num %}filter-active{% endif %}" id="mainTab1">
                        <a role="menuitem" tabindex="-1"
                           href="{% url 'project:search' %}?keywords={{ keywords }}&click_num=1"><span>
                                    点击数</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    {#        <div>#}
    {#            <p>共{{ project_nums }}个专利</p>#}
    {#        </div>#}

    {#内容#}
    <section class="container">
        <div class="row">
            <div class="module col-md-9">
                <div class="module-list">
                    {% for project in all_project.object_list %}
                        <div class="module-item-box ">
                            <div class="module-item-img-box">
                                <img class="module-item-img" src="{{ MEDIA_URL }}{{ project.main_pic }}"/>
                            </div>
                            <div class="module-item-text">
                                <p class="title"><a href="/project/detail/{{ project.id }}/">{{ project.name }}</a></p>
                                <p class="content">
                                    技术成熟度:{{ project.get_project_step_display }}</p>
                                <p class="content">行业:{{ project.get_field_category_display }}</p>
                                <p class="content">合作方式:<span class="price">{{ project.get_cooperation_display }}</span>
                                </p>
                            </div>
                            <div class="module-item-btn-box">
                                {% if project.has_fav %}
                                    <span id="{{ project.id }}" class="module-item-btn-faved fav">取消关注</span>
                                {% else %}
                                    <span id="{{ project.id }}" class="module-item-btn fav">关注</span>
                                {% endif %}
                                <span class="module-item-btn" data-toggle="modal" data-target="#myModal">咨询</span>
                            </div>


                        </div>
                    {% endfor %}
                </div>

                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    请扫描二维码
                                </h4>
                            </div>
                            <div class="modal-body">
                                <img src="{% static 'img/qr.jpg' %}"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                {#分页#}
                <nav class="page-position">
                    <ul class="pagination">
                        {% if all_project.has_previous %}
                            <li>
                                <a href="?field_category={{ field_category_id }}&project_category={{ project_category_id }}&page={{ all_project.previous_page_number }}"
                                   class="prev">&lsaquo;&lsaquo; </a></li>
                        {% else %}
                            <li><span class="disabled prev">&lsaquo;&lsaquo; </span></li>
                        {% endif %}
                        {% for page in all_project.pages %}
                            {% if page %}
                                {% ifequal page all_project.number %}
                                    <li><span class="current page">{{ page }}</span></li>
                                {% else %}
                                    <li>
                                        <a href="?field_category={{ field_category_id }}&project_category={{ project_category_id }}&page={{ page }}"
                                           class="page">{{ page }}</a>
                                    </li>
                                {% endifequal %}
                            {% else %}
                                <li class="disabled"><span>...</span></li>
                            {% endif %}
                        {% endfor %}
                        {% if all_project.has_next %}
                            <li>
                                <a href="?field_category={{ field_category_id }}&project_category={{ project_category_id }}&page={{ all_project.next_page_number }}"
                                   class="next">
                                    &rsaquo;&rsaquo;</a></li>
                        {% else %}
                            <li><span class="disabled next"> &rsaquo;&rsaquo;</span></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>


            <div class="col-md-3">
                <div class="rank-box">
                    <div class="rank-title"></div>

                    <div class="rank-list">

                        {% for project in newest_project %}
                            <div class="rank-item">
                                <a href="/patent/detail/{{ project.id }}/">{{ project.name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="publish-patent"></div>

                <div class="publish-project"></div>
            </div>
        </div>
    </section>

{% endblock %}
{% block custom_js %}
    <script type="text/javascript">
        //关注分享
        function add_fav(current_elem, fav_id, fav_type) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "operation:add_fav" %}",
                data: {'fav_id': fav_id, 'fav_type': fav_type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "{% url 'login' %}?next={{ request.path }}";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {
                        if (data.msg === '关注') {
                            current_elem.addClass('module-item-btn')
                            current_elem.removeClass('module-item-btn-faved')
                            current_elem.text(data.msg)
                        } else {
                            current_elem.addClass('module-item-btn-faved')
                            current_elem.removeClass('module-item-btn')
                            current_elem.text(data.msg)
                        }
                    }
                },
            });
        }

        $('.fav').on('click', function () {
            add_fav($(this), $(this).attr('id'), 2);
        });


    </script>
{% endblock %}
