{% extends 'login-base.html' %}

{% load staticfiles %}
{% block title %}注册{% endblock %}
<!--发送按钮倒计时代码-->
{% block custom_js %}
    <script type="text/javascript">
        var countdown = 60;

        function settime(obj) {
            if (countdown == 0) {
                obj.removeAttribute("disabled");
                obj.value = "免费获取验证码";
                countdown = 60;
                return;
            } else {
                obj.setAttribute("disabled", true);
                obj.value = "重新发送(" + countdown + ")";
                countdown--;
            }
            setTimeout(function () {
                    settime(obj)
                }
                , 1000)
        }

    </script>

    <script>
        $('#forcode').click(function () {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'users:forcode' %}",
                data: {
                    mobile: $("#mobile").val(),
                    send_type: 'register'
                },
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    console.log(data)
                    alert(data)
                }
            })
        })
        $('#forgetCode').click(function () {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'users:forcode' %}",
                data: {
                    mobile: $("#mobile").val(),
                    send_type: 'reset_pwd'
                },
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    console.log(data)
                    alert(data)
                }
            })
        })
    </script>

{% endblock %}
<!--手机号码输入框代码-->

{#<div class="form-group">#}
{#    <label for="mobile" class="col-lg-2 col-sm-2 control-label">手机号码:</label>#}
{#    <div class="col-lg-10">#}
{#        <div class="input-group m-bot15">#}
{#            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="手机号码">#}
{#            <span class="input-group-btn">#}
{#                         <input type="button" id="forcode" onclick="settime(this)" value="免费获取验证码"#}
{#                                class="btn btn-success">#}
{#                    </span>#}
{#        </div>#}
{#        <p class="help-block">请填写绑定手机号</p>#}
{#    </div>#}
{#</div>#}

{% block content %}
    <form action="{% url 'register' %}" method="post">
        <div class="login-box">

            <div class="login-img-box">
                <img src="{% static 'img/login-bg.png' %}"/>
            </div>
            <div class="login-form-box">
                <div class="login-form-logo">
                    <span class="logo-text">会员注册</span>
                    <img src="{% static 'img/login-logo.png' %}"/>
                </div>
                <div class="form">
                    <div class="input">
                        <input id="mobile" name="mobile" type="text" placeholder="手机号："/>
                        <span>{{ register_form.errors.mobile.0 }}</span>
                    </div>
                    <div class="input">
                        <input name="code" type="text" placeholder="验证码："/>
                        <a class="getcode" id="forcode" onclick="settime(this)">免费获取验证码</a>
                        <span>{{ register_form.errors.code.0 }}</span>
                    </div>
                    <div class="input">
                        <input name="password1" type="password" placeholder="设置密码："/>
                        <span>{{ register_form.errors.password1.0 }}</span>
                    </div>
                    <div class="input">
                        <input name="password2" type="password" placeholder="重复密码："/>
                        <span>{{ register_form.errors.password2.0 }}</span>
                    </div>
                    {{ msg }}
                    <input type="hidden" name="next" value="{{ redirect_url }}"/>
                    {% csrf_token %}
                </div>
                <div class="submit">
                    <button type="submit">注册</button>
                    <a href="{% url 'login' %}">已有账号？去登录</a>
                </div>


            </div>
        </div>
    </form>
{% endblock %}
