{% extends 'login-base.html' %}

{% load staticfiles %}
{% block title %}找回密码{% endblock %}


<!--发送按钮倒计时代码-->
{% block custom_js %}
    <script type="text/javascript">
        var countdown = 60;

        function settime(obj) {
            if (countdown == 0) {
                obj.removeAttribute("disabled");
                obj.value = "免费获取验证码";
                countdown = 60;
                return;
            } else {
                obj.setAttribute("disabled", true);
                obj.value = "重新发送(" + countdown + ")";
                countdown--;
            }
            setTimeout(function () {
                    settime(obj)
                }
                , 1000)
        }

    </script>

    <script>
        $('#forgetCode').click(function () {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'users:forcode' %}",
                data: {
                    mobile: $("#mobile").val(),
                    send_type: 'reset_pwd'
                },
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    console.log(data)
                    alert(data)
                }
            })
        })
    </script>

{% endblock %}



{% block content %}
    <form action="{% url 'reset_pwd' %}" method="post">
        <div class="login-box">

            <a href="/" class="login-img-box">
                <img src="{% static 'img/login-bg.png' %}"/>
            </a>
            <div class="login-form-box">
                <div class="login-form-logo">
                    <span class="logo-text">找回密码</span>
                    <img src="{% static 'img/login-logo.png' %}"/>
                </div>
                <div class="form">
                    <div class="input">
                        <input id="mobile"  name="mobile" type="text" placeholder="手机号："/>
                        <span>{{ reset_pwd_form.errors.mobile.0 }}</span>
                    </div>
                    <div class="input">
                        <input name="code" type="text" placeholder="验证码："/>
                        <a class="getcode" id="forgetCode" onclick="settime(this)">免费获取验证码</a>
                        <span>{{ reset_pwd_form.errors.code.0 }}</span>
                    </div>
                    <div class="input">
                        <input name="password1" type="password" placeholder="设置密码："/>
                        <span>{{ reset_pwd_form.errors.password1.0 }}</span>
                    </div>
                    <div class="input">
                        <input name="password2" type="password" placeholder="重复密码："/>
                        <span>{{ reset_pwd_form.errors.password2.0 }}</span>
                    </div>
                    {{ msg }}
                    <input type="hidden" name="next" value="{{ redirect_url }}"/>
                    {% csrf_token %}
                </div>
                <div class="submit">
                    <button type="submit">完成</button>
                    <div class="a-box">
                        <a href="{% url 'login' %}">去登录></a>
                        <a href="{% url 'register' %}">去注册></a>
                    </div>

                </div>


            </div>
        </div>
    </form>

{% endblock %}