<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>{% block title %}个人信息{% endblock %}</title>
    {% block custom_css %}

    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <link rel="stylesheet" href="{% static 'css/usercenter.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'js/jQuery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/layer/layer.js' %}"></script>

</head>
<body>
<div class="white-bg">
    <div class="user-bar">
        <section class="container ">
            {% if request.user.is_authenticated %}
                <div class="row">
                    <div class="pull-left btn"><span>服务电话：23333333</span></div>
                    <div class="personal pull-right">
                        <div class="btn">

                            {#                    <a href="{% url 'users:my_message' %}">#}
                            {#                        <div class="msg-num"><span id="MsgNum">{{ request.user.unread_nums }}</span></div>#}
                            {#                    </a>#}
                            <span>{{ user.username }}</span>
                            <a class="personcenter" href="{% url 'users:user_info' %}">&nbsp进入个人中心</a>
                            <a class="pull-right" href="{% url 'logout' %}">&nbsp退出</a>
                        </div>
                    </div>

                </div>
            {% else %}
                <div class="row">
                    <div class="pull-left  btn"><span>服务电话：23333333</span></div>
                    <!--登录后跳转-->
                    <div class="personal pull-right">
                        <div class="btn">
                            <a style="color:black" class="pull-right registerbtn"
                               href="{% url "register" %}">&nbsp注册</a>
                            <a style="color:black" class="pull-right loginbtn"
                               href="{% url 'login' %}?next={{ request.path }}">&nbsp登录</a>
                        </div>
                    </div>


                </div>
            {% endif %}
        </section>
    </div>
    <div>
        <section class="container">

            <div class="row">
                {#        <div class="col-md-3">#}
                <img class="col-md-4 logo-img" src="{% static 'img/logo.png' %}"/>
                {#        </div>#}
                {#        <div class="col-md-1"></div>#}
                <div class="navbar-header pull-right logo-nav">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="{% ifequal current_page "index" %}active{% endifequal %}" href="/">首页</a>
                        </li>
                        <li>
                            <a class="{% ifequal current_page "policy" %}active{% endifequal %}"
                               href="{% url 'policy:home' %}">资讯平台</a>
                        </li>
                        <li>
                            <a class="{% ifequal current_page "patent" %}active{% endifequal %}"
                               href="{% url 'patent:list' %}">交易平台</a>
                        </li>
                        <li>
                            <a class="{% ifequal current_page "project" %}active{% endifequal %}"
                               href="{% url 'project:list' %}">转化平台</a>
                        </li>
                        <li>
                            <a class="{% ifequal current_page "incubator" %}active{% endifequal %}"
                               href="{% url 'incubator:list' %}">孵化平台</a>
                        </li>
                        <li>
                            <a class="{% ifequal current_page "gallery" %}active{% endifequal %}"
                               href="{% url 'gallery:list' %}">展会服务</a>
                        </li>
                        <li>
                            <a class="{% ifequal current_page "club" %}active{% endifequal %}"
                               href="{% url 'club:home' %}">俱乐部</a>
                        </li>
                    </ul>
                </div>

            </div>

        </section>
    </div>
</div>

<section class="container">
    <div class='the-panel'>
        <div class="sidebar white-panel">
            <div class="sidebar-title">

            </div>

            <div class="sidebar-list">
                <div class="sidebar-panel-group">
                    <div class="sidebar-panel">
                        <div class="sidebar-panel-title">
                            <span>个人资料</span>
                            <div class="sidebar-panel-node"></div>
                        </div>
                        <a class="sidebar-panel-item {% ifequal  '/users/info/' request.path %} sidebar-active{% endifequal %}"
                           href="{% url 'users:user_info' %}">基本信息</a>
                        <a class="sidebar-panel-item {% ifequal  '/users/auth/' request.path %} sidebar-active{% endifequal %}"
                           href="{% url 'users:user_auth' %}">认证信息</a>
                    </div>
                    <div class="sidebar-panel">
                        <div class="sidebar-panel-title">
                            <span>我是需方</span>
                            <div class="sidebar-panel-node"></div>
                        </div>
                        <a class="sidebar-panel-item {% ifequal  '/users/myorder/' request.path %} sidebar-active{% endifequal %}"
                           href="{% url 'users:myorder' %}">我的订单</a>
                        <a class="sidebar-panel-item {% ifequal  '/users/myfav/' request.path %} sidebar-active{% endifequal %}"
                           href="{% url 'users:myfav' %}">技术关注</a>
                    </div>
                    <div class="sidebar-panel">
                        <div class="sidebar-panel-title">
                            <span>我是供方</span>
                            <div class="sidebar-panel-node"></div>
                        </div>
                        <a class="sidebar-panel-item {% ifequal  '/patent/add_patent/' request.path %} sidebar-active{% endifequal %}"
                           href="{% url 'patent:add_patent' %}">发布专利</a>
                        <a class="sidebar-panel-item {% ifequal  '/project/add_project/' request.path %} sidebar-active{% endifequal %}"
                           href="{% url 'project:add_project' %}">发布项目</a>
                        <a class="sidebar-panel-item {% ifequal  '/users/mysellorder/' request.path %} sidebar-active{% endifequal %}"
                           href="{% url 'users:mysellorder' %}">订单管理</a>
                        <a class="sidebar-panel-item {% ifequal  '/users/mypublish/' request.path %} sidebar-active{% endifequal %}"
                           href="{% url 'users:mypublish' %}">发布管理</a>
                    </div>
                    <div class="sidebar-panel">
                        <div class="sidebar-panel-title">
                            <span>资源收藏</span>
                            <div class="sidebar-panel-node"></div>
                        </div>
                        <a class="sidebar-panel-item {% ifequal  '/users/fav_policy/' request.path %} sidebar-active{% endifequal %}"
                           href="{% url 'users:fav_policy' %}">政策文章</a>
                        <a class="sidebar-panel-item {% ifequal  '/users/fav_incubator/' request.path %} sidebar-active{% endifequal %}"
                           href="{% url 'users:fav_incubator' %}">孵化</a>
                        <a class="sidebar-panel-item {% ifequal  '/users/fav_gallery/' request.path %} sidebar-active{% endifequal %}"
                           href="{% url 'users:fav_gallery' %}">展会</a>
                    </div>

                </div>


            </div>
        </div>
        <div class="right-content white-panel">
            {% block  right_content %}
            {% endblock %}
        </div>

    </div>
</section>

<img style="display: none" id="qr" src="{% static 'img/qr.png' %}"/>

<footer class="footer">
    <div class="container">
        <div class="col-md-12 row">
            <div class="footer-nav pull-left">
                关于本站 | 新闻中心 | 诚聘英才 | 联系我们
            </div>
            <div class="footer-contact pull-right">

                <img src="{% static 'img/contact.png' %}"/>
                010 - 12354678
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="footer-copyright pull-left">
                Copyright © 2007 - 2018 千松 版权所有 运营商:北京千松科技发展有限公司
            </div>
            <div class="footer-worktime pull-right">工作日:8:30-17:30</div>
        </div>

    </div>

</footer>
<script src="{% static 'js/qr.js' %}"></script>
{% block custom_js %}

{% endblock %}
</body>
</html>
