{% extends 'usercenter-base.html' %}
{% block title %} 我的课程 | mtianyan慕课小站{% endblock %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'users:user_info' %}">个人中心</a>></li>
                <li>我的课程</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block right_content %}
    <div class="right">
        <div class="personal_des Releasecont">
            <div class="head">
                <h1>我的课程</h1>
            </div>
        </div>
        <div class="personal_des permessage">
            <div class="companycenter">
                <div class="group_list brief">

                    {% for patent_order in user_patent %}
                        <p>商品编号：{{ patent_order.id }}</p>
                        <p>商品名称：{{ patent_order.patent.name }}</p>

                        <p>商品类型：技术项目</p>

                        <p>商品状态：{{ patent_order.patent.shop_status }}</p>
                        <p>订单状态：{{ patent_order.step }}</p>
                        <a></a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
