{% extends 'usercenter-base.html' %}
{% block title %} 展会{% endblock %}
{% load staticfiles %}

{% block right_content %}
    <div class="head">
        <span>展会</span>
    </div>
    <div class="manage">
        <table class="table table-bordered  manage-table">
            <thead>
            <tr>
                <th>名称</th>
                <th>城市</th>
            </tr>
            </thead>
            <tbody>
            {% for gallery in gallery_list %}
                <tr key="{{ gallery.id }}" type="6">
                    <td><a href="/gallery/detail/{{ gallery.id }}">{{ gallery.name }}</a></td>
                    <td><span class="fav">取消收藏</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block custom_js %}
    <script type="text/javascript">
        //收藏分享
        function add_fav(current_elem, fav_id, fav_type) {
            console.log('fav_id',fav_id,'fav_type',fav_type)
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "operation:add_fav" %}",
                data: {'fav_id': fav_id, 'fav_type': fav_type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "{% url 'login' %}?next={{ request.path }}";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {
                        if (data.msg === '收藏') {
                            current_elem.addClass('module-item-btn')
                            current_elem.removeClass('module-item-btn-faved')
                            current_elem.text(data.msg)
                        } else {
                            current_elem.addClass('module-item-btn-faved')
                            current_elem.removeClass('module-item-btn')
                            current_elem.text(data.msg)
                        }
                    }
                },
            });
        }

        $('.fav').on('click', function () {
            add_fav($(this), $(this).parent().parent().attr('key'), $(this).parent().parent().attr('type'));
        });


    </script>
{% endblock %}