{% extends 'usercenter-base.html' %}
{% load staticfiles %}
{% block title %} 个人信息 {% endblock %}

{% block right_content %}

    <div class="head">
        <span>个人认证</span>
    </div>
    <div class="content">

        <form action="{% url 'users:user_auth' %}" method="POST">
            <table class="table table-nobordered usercenter-table">
                <tbody>
                <tr>
                    <td class="th">认证状态：</td>
                    <td>
                        <div class="input">
                            {% if auth %}
                                <text class="auth-has-status">
                                    尊敬的会员，您还没有进行实名认证
                                </text>
                            {% else %}
                                <text class="auth-not-status">
                                    已实名认证
                                </text>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="th">真实姓名：</td>
                    <td>
                        <div class="input">
                            <input type="text" name="full_name" id="full_name"
                                   {% if auth %}readonly="readonly"{% endif %}
                                   value="{{ request.user.full_name|default_if_none:'' }}" maxlength="20"/>
                            <span>{{ info_form.errors.full_name.0 }}{{ msg }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="th">身份证号：</td>
                    <td>
                        <div class="input">
                            <input type="text" id="id_card" name="id_card" {% if auth %}readonly="readonly"{% endif %}
                                   value="{{ request.user.id_card|default_if_none:'' }}"/>
                            <span>{{ info_form.errors.id_card.0 }}{{ msg }}</span>
                        </div>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" {% if auth %}style="display: none" {% endif %} class="submit-btn">保存
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
