{% extends 'usercenter-base.html' %}
{% block title %} 我的发布{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
    <section class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">首页</a>></li>
            <li><a href="{% url 'users:user_info' %}">个人中心</a></li>
            <li>发布</li>
        </ul>
    </section>
{% endblock %}
{% block custom_css %}
    <style>
    </style>
{% endblock %}
{% block custom_js %}
    <script>
        $('#patent_form_show').on('click', function () {
            $('#patent_form').show()
            $('#project_form').hide()
        });
        $('#project_form_show').on('click', function () {
            $('#patent_form').hide()
            $('#project_form').show()
        });
    </script>
{% endblock %}

{% block right_content %}



    <form class="exform" enctype="multipart/form-data" action="{% url 'project:add_project' %}" method="POST"
          id="project_form">

        {% csrf_token %}
        <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
            <div
                    class="form-container row clearfix">
                <div id="column-0"
                     class="formColumn column form-column full col col-sm-12 form-horizontal" span="12" horizontal>
                    <div class="panel panel-default fieldset unsort no_title" id="box-0">
                        <div class="panel-heading"><i class='icon fa fa-chevron-up chevron'></i>
                            <h3 class="panel-title"></h3></div>
                        <div class="panel-body ">
                            <div id="div_id_name" class="form-group"><label for="id_name"
                                                                            class="control-label  requiredField">
                                项目名<span class="asteriskField">*</span> </label>
                                <div class="controls "><input class="text-field admintextinputwidget form-control"
                                                              id="id_name" maxlength="100" name="name" type="text"/>
                                </div>
                            </div>

                            <div id="div_id_field_category" class="form-group"><label for="id_field_category"
                                                                                      class="control-label  requiredField">
                                所属行业<span class="asteriskField">*</span> </label>
                                <div class="controls "><select class="adminselectwidget form-control"
                                                               id="id_field_category" name="field_category">
                                    <option value="0" selected="selected">食品饮料</option>
                                    <option value="1">建筑建材</option>
                                    <option value="2">家居用品</option>
                                    <option value="3">轻工纺织</option>
                                    <option value="4">化学化工</option>
                                    <option value="5">新能源</option>
                                    <option value="6">机械</option>
                                    <option value="7">环保和资源</option>
                                    <option value="8">橡胶塑料</option>
                                    <option value="9">仪器仪表</option>
                                    <option value="10">新型材料</option>
                                    <option value="11">电子信息</option>
                                    <option value="12">医药与医疗</option>
                                    <option value="13">农林牧业</option>
                                    <option value="14">海洋开发</option>
                                    <option value="15">航空航天</option>
                                    <option value="16">采矿冶金</option>
                                    <option value="17">电气自动化</option>
                                    <option value="18">包装印刷</option>
                                    <option value="19">教育休闲</option>
                                    <option value="20">钒钛产业</option>
                                    <option value="21">安全防护</option>
                                    <option value="22">交通运输</option>
                                </select></div>
                            </div>
                            <div id="div_id_project_step" class="form-group"><label for="id_project_step"
                                                                                    class="control-label  requiredField">
                                项目类别<span class="asteriskField">*</span> </label>
                                <div class="controls "><select class="adminselectwidget form-control"
                                                               id="id_project_step" name="project_step">
                                    <option value="0" selected="selected">未知</option>
                                    <option value="1">实验室阶段</option>
                                    <option value="2">样品阶段</option>
                                    <option value="3">小试阶段</option>
                                    <option value="4">中试阶段</option>
                                    <option value="5">量产阶段</option>
                                </select></div>
                            </div>
                            <div id="div_id_cooperation" class="form-group"><label for="id_cooperation"
                                                                                   class="control-label  requiredField">
                                项目类别<span class="asteriskField">*</span> </label>
                                <div class="controls "><select class="adminselectwidget form-control"
                                                               id="id_cooperation" name="cooperation">
                                    <option value="0" selected="selected">股权投资</option>
                                    <option value="1">技术转让</option>
                                    <option value="2">许可使用</option>
                                    <option value="3">合作开发</option>
                                    <option value="4">合作兴办新企业</option>
                                    <option value="5">其他</option>
                                </select></div>
                            </div>
                            <div id="div_id_province" class="form-group"><label for="id_province"
                                                                                class="control-label  requiredField">
                                项目所在地区<span class="asteriskField">*</span> </label>
                                <div class="controls "><select class="adminselectwidget form-control" id="id_province"
                                                               name="province">
                                    <option value="bj" selected="selected">北京</option>
                                    <option value="tj">天津</option>
                                </select></div>
                            </div>
                            <div id="div_id_main_pic" class="form-group"><label for="id_main_pic"
                                                                                class="control-label  requiredField">
                                项目主图<span class="asteriskField">*</span> </label>
                                <div class="controls "><input class="adminimagewidget" id="id_main_pic" label="项目主图"
                                                              name="main_pic" type="file"/></div>
                            </div>
                            <div id="div_id_price" class="form-group"><label for="id_price"
                                                                             class="control-label  requiredField">
                                价格<span class="asteriskField">*</span> </label>
                                <div class="controls "><input class="int-field adminintegerfieldwidget form-control"
                                                              id="id_price" name="price" type="text" value="0"/></div>
                            </div>
                            <div class="form-group">
                                <div id="div_id_bargain" class="checkbox"><label for="id_bargain" class=""> <input
                                        class="checkboxinput" id="id_bargain" name="bargain" type="checkbox"/>
                                    议价
                                </label></div>
                            </div>
                            <div id="div_id_hire" class="form-group"><label for="id_hire"
                                                                            class="control-label  requiredField">
                                佣金<span class="asteriskField">*</span> </label>
                                <div class="controls "><input class="int-field adminintegerfieldwidget form-control"
                                                              id="id_hire" name="hire" type="text" value="0"/></div>
                            </div>
                            <div id="div_id_keyword" class="form-group"><label for="id_keyword" class="control-label ">
                                关键词
                            </label>
                                <div class="controls "><input class="text-field admintextinputwidget form-control"
                                                              id="id_keyword" maxlength="100" name="keyword"
                                                              type="text"/></div>
                            </div>
                            <div id="div_id_status" class="form-group"><label for="id_status" class="control-label ">
                                项目状态
                            </label>
                                <div class="controls "><select class="adminselectwidget form-control" id="id_status"
                                                               name="status">
                                    <option value="" selected="selected">---------</option>
                                    <option value="sqwjf">授权未结费</option>
                                    <option value="yxzs">已下证书</option>
                                </select></div>
                            </div>
                            <div id="div_id_detail" class="form-group"><label for="id_detail" class="control-label ">
                                项目详情
                            </label>
                                <div class="controls "> <textarea
                                        class="textarea-field admintextareawidget form-control" cols="40" id="id_detail"
                                        name="detail" rows="10">
</textarea></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>


        <div class="form-actions well well-sm clearfix">


            <div class="btn-group clearfix show-xs save-group col-xs-12">
                <button type="submit" class="default btn btn-primary col-xs-10" name="_save" data-loading-text="保存中.."/>
                <i class="fa fa-save"></i> 保存</button>
                <button type="button" class="more btn btn-primary col-xs-2" data-toggle="collapse"
                        data-target=".nav-collapse.more-btns"><i class="fa fa-ellipsis-vertical"></i></button>
            </div>
            <button type="submit" class="default btn btn-primary hide-xs" name="_save" data-loading-text="保存中.."/>
            <i class="fa fa-save"></i> 保存</button>


        </div>
    </form>
{% endblock %}