{% extends 'usercenter-base.html' %}
{% block title %} 我的发布{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
    <section class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">首页</a>></li>
            <li><a href="{% url 'users:user_info' %}">个人中心</a></li>
            <li>发布</li>
        </ul>
    </section>
{% endblock %}
{% block custom_css %}

{% endblock %}

{% block right_content %}

    <form class="exform" enctype="multipart/form-data" action="
            {% ifequal type 'patent:modify' %}{% url 'patent:modify' patent.id %}{% else %}{% url 'patent:add_patent' %}{% endifequal %}"
          method="POST"
          id="patent_form">


        {% csrf_token %}

        <input type="hidden" name="id" value="{{ patent.id }}"/>

        <p>专利名:{{ patent_form.name }}{{ patent_form.errors.form.0 }}</p>
        <p>专利申请号:{{ patent_form.patent_id }}{{ patent_form.errors.patent_id.0 }}</p>
        <p>所属行业:{{ patent_form.field_category }}{{ patent_form.errors.field_category.0 }}</p>
        <p>专利类别:{{ patent_form.patent_category }}{{ patent_form.errors.patent_category.0 }}</p>
        <p>专利所在地区:{{ patent_form.province }}{{ patent_form.errors.province.0 }}</p>
        <p>有效日期:{{ patent_form.patent_expired }}{{ patent_form.errors.patent_expired.0 }}</p>
        <p>专利主图:{{ patent_form.main_pic }}{{ patent_form.errors.main_pic.0 }}</p>
        <p>价格:{{ patent_form.price }}{{ patent_form.errors.price.0 }}</p>
        <p>议价:{{ patent_form.bargain }}{{ patent_form.errors.bargain.0 }}</p>
        <p>专利状态:{{ patent_form.status }}{{ patent_form.errors.status.0 }}</p>
        <p>分类号:{{ patent_form.IPC_num }}{{ patent_form.errors.IPC_num.0 }}</p>
        <p>代理人:{{ patent_form.agent }}{{ patent_form.errors.agent.0 }}</p>
        <p>代理机构:{{ patent_form.agency }}{{ patent_form.errors.agency.0 }}</p>
        <p>发明人:{{ patent_form.inventor }}{{ patent_form.errors.inventor.0 }}</p>
        <p>申请人:{{ patent_form.applicant }}{{ patent_form.errors.applicant.0 }}</p>
        <p>联系人:{{ patent_form.contact }}{{ patent_form.errors.contact.0 }}</p>
        <p>联系电话:{{ patent_form.contact_mobile }}{{ patent_form.errors.contact_mobile.0 }}</p>

         {{ patent_form.media }}
        <p>详情:{{ patent_form.detail }}{{ patent_form.errors.detail.0 }}</p>
        <button type="submit" class="default btn btn-primary hide-xs" name="_save" data-loading-text="保存中.."/>
        <i class="fa fa-save"></i> 保存</button>

        </div>
    </form>
{% endblock %}