{% extends 'usercenter-base.html' %}
{% block title %} 我的关注{% endblock %}
{% load staticfiles %}

{% block right_content %}
    <div class="head">
        <span>我的发布</span>
    </div>
    <div class="manage">

        <ul class="nav nav-tabs manage-nav">
            <li role="presentation" id="patent-li" class="active"><a>专利商品</a></li>
            {#            <li role="presentation" id="project-li"><a >技术项目</a></li>#}
        </ul>
        <table class="table table-bordered  manage-table" id="patent-table">
            <thead>
            <tr>
                <th>编号</th>
                <th>名字</th>
                <th>类别</th>
                <th>阶段</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for patent in patent_list %}
                <tr key="{{ patent.id }}" type="1">
                    <td>{{ patent.id }}</td>
                    <td><a href="/ssdpatent/detail/{{ patent.id }}/">{{ patent.tic }}</a></td>
                    <td>{{ patent.get_patent_category_display }}</td>
                    <td>{{ patent.get_shop_status_display }}</td>
                    <td>
                        {% ifequal patent.shop_status '0' %}
                            <span class="cancel_publish">下架</span>
                            <span class="delete_publish">删除</span>
                        {% endifequal %}
                        {% ifequal patent.shop_status '1' %}
                            <span class="cancel_publish">下架</span>
                            <span class="delete_publish">删除</span>
                        {% endifequal %}
                        {% ifequal patent.shop_status '-1' %}<a href="/ssdpatent/modify/{{ patent.id }}/">修改</a>
                            <span class="cancel_publish">上架</span>
                            <span class="delete_publish">删除</span>
                        {% endifequal %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        {#        <table class="table table-bordered  manage-table" id="project-table" style="display: none;">#}
        {#            <thead>#}
        {#            <tr>#}
        {#                <th>编号</th>#}
        {#                <th>名字</th>#}
        {#                <th>交易方式</th>#}
        {#                <th>阶段</th>#}
        {#                <th>操作</th>#}
        {#            </tr>#}
        {#            </thead>#}
        {#            <tbody>#}
        {#            {% for project in project_list %}#}
        {#                <tr key="{{ project.id }}" type="2">#}
        {#                    <td>{{ project.id }}</td>#}
        {#                    <td><a href="/project/detail/{{ project.id }}/">{{ project.name }}</a></td>#}
        {#                    <td>{{ project.get_cooperation_display }}</td>#}
        {#                    <td>{{ project.get_shop_status_display }}</td>#}
        {#                    <td>#}
        {#                        {% ifequal project.shop_status '0' %}#}
        {#                            <span class="cancel_publish">下架</span>#}
        {#                            <span class="delete_publish">删除</span>#}
        {#                        {% endifequal %}#}
        {#                        {% ifequal project.shop_status '1' %}#}
        {#                            <span class="cancel_publish">下架</span>#}
        {#                            <span class="delete_publish">删除</span>#}
        {#                        {% endifequal %}#}
        {#                        {% ifequal project.shop_status '-1' %}#}
        {#                            <a href="/project/modify/{{ project.id }}/">修改</a>#}
        {#                            <span class="cancel_publish">上架</span>#}
        {#                            <span class="delete_publish">删除</span>#}
        {#                        {% endifequal %}#}
        {#                    </td>#}
        {##}
        {#                </tr>#}
        {#            {% endfor %}#}
        {#            </tbody>#}
        {#        </table>#}
    </div>

{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        //关注分享
        function cancel_publish(current_elem, id, type) {
            console.log(current_elem, id, type)
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "operation:cancel_publish" %}",
                data: {'id': id, 'type': type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "{% url 'login' %}?next={{ request.path }}";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {

                        window.location.href = "{% url 'users:mypublish' %}";

                    }
                },
            });
        }

        function delete_publish(current_elem, id, type) {

            console.log(current_elem, id, type)
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "operation:delete_publish" %}",
                data: {'id': id, 'type': type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "{% url 'login' %}?next={{ request.path }}";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {
                        window.location.href = "{% url 'users:mypublish' %}";
                    }
                },
            });
        }


        $("#patent-li").on('click', function () {
            $(this).addClass('active');
            $("#project-li").removeClass('active');
            $("#patent-table").show();
            $("#project-table").hide();
        })
        $("#project-li").on('click', function () {
            $(this).addClass('active');
            $("#patent-li").removeClass('active');
            $("#patent-table").hide();
            $("#project-table").show();
        })

        $('.cancel_publish').on('click', function () {
            let that = this;
            layer.confirm("确认下架？", {
                btn: ['下架']
            },function () {
                // 按钮2的事件
                cancel_publish($(that), $(that).parent().parent().attr('key'), $(that).parent().parent().attr('type'));

            });
            {#setTimeout(window.location.reload(), 3000);#}
        });
        $('.delete_publish').on('click', function () {
            let that = this;
            layer.confirm("确认删除？", {
                btn: ['删除']
            },function () {
                // 按钮2的事件
                delete_publish($(that), $(that).parent().parent().attr('key'), $(that).parent().parent().attr('type'));

            });

            {#setTimeout(window.location.reload(), 3000);#}
        });


    </script>
{% endblock %}