{% extends 'usercenter-base.html' %}
{% block title %}{% endblock %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'users:user_info' %}">个人中心</a>></li>
                <li></li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block right_content %}
    <div class="right">
        <div class="personal_des permessage">
            <div class="companycenter">
                <div class="group_list brief">
                    <table class="">
                        <caption>专利</caption>
                        <thead>
                        <tr>
                            <th>订单编号</th>
                            <th>商品名称</th>
                            <th>商品类型</th>
                            <th>订单金额</th>
                            <th>订单状态</th>
                            <th>资料</th>
                            <th>操作</th>
                            <th>业务员</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for patent_order in user_patent %}
                            <tr key="{{ patent_order.id }}">
                                <td>{{ patent_order.id }}</td>
                                <td>{{ patent_order.patent.name }}</td>
                                <td>专利</td>
                                <td>{{ patent_order.total_price }}</td>
                                <td>{{ patent_order.get_step_display }}</td>
                                <td>
                                    <a>合同下载</a></td>
                                <td>
                                    {% ifequal patent_order.step '0' %}
                                        <span class="cancel_order">取消</span>
                                        <a href="/operation/add_order/?id={{ patent_order.patent.id }}">付款</a>
                                    {% endifequal %}
                                    {% ifequal patent_order.step '-1' %}
                                        <span class="delete_order">删除</span>
                                    {% endifequal %}
                                </td>
                            <td><span data-toggle="modal" data-target="#myModal1{{ patent_order.id }}">{{ patent_order.staff.username }}</span></td>
                            </tr>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal1{{ patent_order.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        请扫描二维码
                    </h4>
                </div>
                <div class="modal-body">
                    <img src="{{ MEDIA_URL }}{{ patent_order.staff.avatar }}"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
                        {% endfor %}
                        </tbody>
                    </table>
                    <table class="">
                        <caption>技术</caption>
                        <thead>
                        <tr>
                            <th>订单编号</th>
                            <th>商品名称</th>
                            <th>商品类型</th>
                            <th>订单状态</th>
                            <th>资料</th>
                            <th>业务员</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for patent_order in user_project %}
                            <tr key="{{ patent_order.id }}">
                                <td>{{ patent_order.id }}</td>
                                <td>{{ patent_order.project.name }}</td>
                                <td>技术项目</td>
                                <td>{{ patent_order.get_step_display }}</td>
                                <td>
                                    <a>合同下载</a></td>
                                <td><span data-toggle="modal" data-target="#myModal2{{ patent_order.id }}">{{ patent_order.staff.username }}</span></td>
                            </tr>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal2{{ patent_order.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        请扫描二维码
                    </h4>
                </div>
                <div class="modal-body">
                    <img src="{{ MEDIA_URL }}{{ patent_order.staff.avatar }}"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        //收藏分享
        function cancel_order(current_elem, id, type) {
            console.log('cancel_order', current_elem, id, type)
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "operation:cancel_order" %}",
                data: {'id': id, 'type': type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "{% url 'login' %}?next={{ request.path }}";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {
                        if (data.msg === '收藏') {
                            current_elem.addClass('module-item-btn')
                            current_elem.removeClass('module-item-btn-faved')
                            current_elem.text(data.msg)
                        } else {
                            current_elem.addClass('module-item-btn-faved')
                            current_elem.removeClass('module-item-btn')
                            current_elem.text(data.msg)
                        }
                    }
                },
            });
        }

        function delete_order(current_elem, id, type) {

            console.log(current_elem, id, type)
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "operation:delete_order" %}",
                data: {'id': id, 'type': type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "{% url 'login' %}?next={{ request.path }}";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status == 'success') {
                        if (data.msg === '收藏') {
                            current_elem.addClass('module-item-btn')
                            current_elem.removeClass('module-item-btn-faved')
                            current_elem.text(data.msg)
                        } else {
                            current_elem.addClass('module-item-btn-faved')
                            current_elem.removeClass('module-item-btn')
                            current_elem.text(data.msg)
                        }
                    }
                },
            });
        }

        $('.cancel_order').on('click', function () {
            cancel_order($(this), $(this).parent().parent().attr('key'), 1);
            {#setTimeout(window.location.reload(), 3000);#}
        });
        $('.delete_order').on('click', function () {
            delete_order($(this), $(this).parent().parent().attr('key'), 1);
            {#setTimeout(window.location.reload(), 3000);#}
        });


    </script>
{% endblock %}